# {{ ansible_managed }}

UserParameter=memcached.sh[*],{{ zdm_rolebase_dir }}/memcached_v{{ zdm_cnf_memcached_version }}.sh "$1"
UserParameter=conntrack.sh[*],{{ zdm_rolebase_dir }}/conntrack_v{{ zdm_cnf_conntrack_version }}.sh "$1" "$2" "$3"
UserParameter=iostat.py[*],{{ zdm_rolebase_dir }}/iostat_v{{ zdm_cnf_iostat_version }}.py "$1" "$2"
UserParameter=nginx.py[*],{{ zdm_rolebase_dir }}/nginx_v{{ zdm_cnf_nginx_version }}.py "$1" "$2" "$3" "$4"
UserParameter=apache.py[*],{{ zdm_rolebase_dir }}/apache_v{{ zdm_cnf_apache_version }}.py "$1" "$2" "$3" "$4"
UserParameter=ping.py[*],{{ zdm_rolebase_dir }}/ping_v{{ zdm_cnf_ping_version }}.py "$1" "$2" "$3"
UserParameter=cert.py[*],{{ zdm_rolebase_dir }}/cert_v{{ zdm_cnf_cert_version }}.py "$1" "$2" "$3" "$4"
UserParameter=postgres.py[*],{{ zdm_rolebase_dir }}/postgres_v{{ zdm_cnf_postgres_version }}.py "$1" "$2" "$3" "$4" "$5" "$6"
UserParameter=gitlab_runners.py[*],{{ zdm_rolebase_dir }}/gitlab_runners_v{{ zdm_cnf_gitlab_version }}.py "$1" "$2"
