# {{ ansible_managed }}

UserParameter=memcached.sh[*],{{ zdm_rolebase_dir }}/memcached_v{{ zdm_cnf_memcached_version }}.sh "$1"
UserParameter=iostat.py[*],{{ zdm_rolebase_dir }}/iostat_v{{ zdm_cnf_iostat_version }}.py "$1" "$2"
UserParameter=nginx.py[*],{{ zdm_rolebase_dir }}/nginx_v{{ zdm_cnf_nginx_version }}.py "$1" "$2" "$3" "$4"
UserParameter=gitlab_runners.py[*],{{ zdm_rolebase_dir }}/gitlab_runners_v{{ zdm_cnf_gitlab_version }}.py "$1" "$2"
