# -*- coding: utf-8 -*-
# {{ ansible_managed }}
# ----------------------------------------------------------------------------------------------------------------------
cnf_apache_server_status_url = '''{{ zdm_cnf_apache_server_status_url }}'''
cnf_apache_allow_redirects = {{ zdm_cnf_apache_allow_redirects }}
cnf_apache_cache_ttl = {{ zdm_cnf_apache_cache_ttl }}
