# -*- coding: utf-8 -*-
# {{ ansible_managed }}
# ----------------------------------------------------------------------------------------------------------------------
cnf_cert_ca_file = '''{{ zdm_cnf_cert_ca_file }}'''
cnf_cert_warn_days_before_expiry = {{ zdm_cnf_cert_warn_days_before_expiry }}
