# -*- coding: utf-8 -*-
# {{ ansible_managed }}
# ----------------------------------------------------------------------------------------------------------------------
cnf_iostat_discovery_cmd = '''{{ zdm_cnf_iostat_discovery_cmd }}'''
cnf_iostat_stat_cmd = '''{{ zdm_cnf_iostat_stat_cmd }}'''
cnf_iostat_util_cmd = '''{{ zdm_cnf_iostat_util_cmd }}'''
cnf_iostat_cache_ttl = {{ zdm_cnf_iostat_cache_ttl }}
