#!/bin/bash
# {{ ansible_managed }}
# ----------------------------------------------------------------------------------------------------------------------
MEMCACHED_TOOL="{{ zdm_cnf_memcached_tool }}"
MEMCACHED_ADDR="{{ zdm_cnf_memcached_addr }}"
