# -*- coding: utf-8 -*-
# {{ ansible_managed }}
# ----------------------------------------------------------------------------------------------------------------------
cnf_nginx_stub_status_url = '''{{ zdm_cnf_nginx_stub_status_url }}'''
cnf_nginx_allow_redirects = {{ zdm_cnf_nginx_allow_redirects }}
cnf_nginx_cache_ttl = {{ zdm_cnf_nginx_cache_ttl }}
