# -*- coding: utf-8 -*-
# {{ ansible_managed }}
# ----------------------------------------------------------------------------------------------------------------------
cnf_ping_cmd = '''{{ zdm_cnf_ping_cmd }}'''
cnf_ping_cache_ttl = {{ zdm_cnf_ping_cache_ttl }}
