# -*- coding: utf-8 -*-
# {{ ansible_managed }}
# ----------------------------------------------------------------------------------------------------------------------
cnf_postgres_ls_clusters_cmd = '''{{ zdm_cnf_postgres_ls_clusters_cmd }}'''
cnf_postgres_dsn_user = '''{{ zdm_cnf_postgres_dsn_user }}'''
cnf_postgres_dsn_pass = '''{{ zdm_cnf_postgres_dsn_pass }}'''
cnf_postgres_dsn_base = '''{{ zdm_cnf_postgres_dsn_base }}'''
cnf_postgres_ls_top_tables_limit = {{ zdm_cnf_postgres_ls_top_tables_limit }}
cnf_postgres_cache_ttl = {{ zdm_cnf_postgres_cache_ttl }}
